* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url('./images/landscape4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  line-height: 1;
}

header {
  text-align: center;
  margin-top: 100px;
}

header p {
  font-size: 32px;
}

h1 {
  font-size: 58px;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}
